.listing {
  width: 300px;
  height: 300px;
  float: left;
  border: solid 1px lightgrey;
  padding: 5px;
  margin: 7px;
  border-radius: 10px;
  box-shadow: 0 0 7px 0 #ddd
}
.listing img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.date {
  color: grey;
  font-size: .75em;
}
.full-listing img {
  max-width: 500px;
}
.navbar {
  background-color: #eee;
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: solid 1px lightgrey;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
.home-link {
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 15px;
  padding: 3px;
}
.post-link {
  float: right;
}
.front-page-column {
  float: left;
  margin-right: 20px;
}
.front-page-column h3 {
  margin-bottom: 0px;
  padding: 3px;
  background-color: #eee;
  width: 200%;
  text-align: center;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
}
.title-column {
  text-align: center;
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  border-left: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
}
.front-page-column hr {
  border-color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}
textarea {
  width: 500px;
  height: 200px;
}
