<div class="front-page-column title-column">
  <h1>notcraigslist</h1>
  {{#link-to 'new-listing' -1}}post to classifieds{{/link-to}}
</div>

<div class="front-page-column">
<h3>categories</h3>
  {{#each model as |category|}}
    {{#link-to "category" category.id}}{{category.title}}{{/link-to}}
    <hr>
  {{/each}}
</div>
